<template name="bookItem">
  <div class="well">

    <div class="media">
      <div class="media-left media-middle">
        <a href="{{link}}" target="_blank">
          <img class="media-object" src="{{cover}}" alt="{{title}}">
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading">
          {{title}}
          <button class="btn btn-xs btn-danger delete pull-right"><span class="fa fa-times"></span></button>
        </h4>
        <p>{{author}}</p>
      </div>
    </div>
  </div>
</template>